<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-IQsoLXGOZ2dEI/o+P+H7mRMImrHhU8q1kZV+XuHOc+F5r5tD53qXGd2qO/AQU8bQ" crossorigin="anonymous"></script>
</head>
<body>
    <div class="chat-container">
        <div id="messages"></div>
        <input id="message" autocomplete="off" placeholder="Type a message..."/>
        <button onclick="sendMessage()">Send</button>
    </div>
    <script>
        var socket = io();

        socket.on('message', function(msg) {
            var messages = document.getElementById('messages');
            var message = document.createElement('div');
            message.textContent = msg;
            messages.appendChild(message);
        });

        function sendMessage() {
            var input = document.getElementById('message');
            socket.send(input.value);
            input.value = '';
        }
    </script>
</body>
</html>
